@font-face {
font-family: 'Sora';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url('./sora-400.woff2') format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
font-family: 'Sora';
font-style: normal;
font-weight: 500;
font-display: swap;
src: url('./sora-500.woff2') format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url('./roboto-mono.woff2') format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  font-family: "Sora", sans-serif;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250' viewBox='0  0 20 20'%3E%3Cg fill-opacity='0.02'%3E%3Cpolygon fill='%23e63946' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23e63946' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E"); /* background by SVGBackgrounds.com */
}
.password {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  color:#e63946;
}
.password-title {
  font-weight: 400;
}
.password-desc {
  font-size: small;
  font-weight: 500;
}
.frame {
  border: 2px solid #e63946;
}
a:hover {
  color:#e63946 !important;
  text-decoration: none;
}
a:focus {
outline: none;
box-shadow: none;
}
.info {
color:#e63946 !important;
  position:fixed;
  bottom:25px;
  left:25px;
  text-align:center;
}